[Unit]
Description=PPP peer %I
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/pppd call %i nodetach
StandardOutput=file:/dev/console
Restart=always
RestartSec=10s
;StartLimitInterval=200
;StartLimitBurst=0

[Install]
WantedBy=multi-user.target
